<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

<div class="menu_section">
  <h3>Stalker</h3>
  <ul class="nav side-menu" style="margin-top: 15px;">
    <li><a><i class="fa fa-smile-o"></i>Quantified Self<span class="fa fa-chevron-down"></span></a>
	  <ul id="qs_nav" class="nav child_menu" style="">
		<li><a id="qs_efficiency_progress" tag="1">Efficiency</a></li>
		<li><a id="qs_activity_progress" tag="2">Activity</a></li>
		<li><a id="qs_happiness_progress" tag="3">Happiness</a></li>
	  </ul>
	</li>
  </ul>
</div>
</div>

